/* Styling for columnIndex, styled it with different div to view correctly in mobile view */
.columnIndex {
     width: 22%;
     background-color: #040b14;
     position: absolute;
     height: 100%;
     top: 0px;
     left: 0px;
     }

.columnIndex img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
    border-radius: 100px;
}

.columnIndex p {
    color: white;
    font-size: 25px;
    left: 50px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.columnIndex .navigation {
    padding: 30px 10px 0 0;
}
.columnIndex .navigation a{
    margin-left: 20px;
    line-height: 50px;
    font-size:18px;
    font-weight: 100px;
    color: #a8a9b4;
    word-spacing: 30px;
    word-spacing: 40px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

/* styling for column of other pages */
.column {
     width: 22%;
     background-color: #040b14;
     position: absolute;
     height: 100%;
     top: 0px;
     left: 0px;
        }

.column img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
    border-radius: 100px;
}

.column p {
    color: white;
    font-size: 25px;
    left: 50px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.column .navigation {
    padding: 30px 10px 0 0;
}
.column .navigation a{
    margin-left: 20px;
    line-height: 50px;
    font-size:18px;
    font-weight: 100px;
    color: #a8a9b4;
    word-spacing: 30px;
    word-spacing: 40px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.column .navigation a i{
    color: #a8a9b4;
    margin-left:0px;
    word-spacing: 30px;
    }
.front {
    background-image: url("images/bgimage1.jpg");
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 300px;
    top: -8px;
    bottom: -5px;
    right: -10px;
    height: auto;
    width: 80%;
    height: 110%;
    background-size: cover;
}
.front h1 {
    position: relative;
    color: #fff;
    font-size: 55px;
    top: 220px;
    left:200px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
        }
.front p {
         position: relative;
         color: #fff;
         top: 200px;
         left:200px;
         margin-bottom: 50px;
         font-size: 26px;
         font-family: "Poppins", sans-serif;
       }

.front p span {
         color: #fff;
         padding-bottom: 4px;
         letter-spacing: 1px;
         border-bottom: 3px solid #149ddd;
       }
/* for class column and columnIndex */
.social a {
          font-size: 15px;
          display: inline-block;
          background: #212431;
          color: #fff;
          padding: 5px 5;
          top: 0px;
          margin-left: 25px;
          margin-right: 5px;
          border-radius: 50%;
          text-align: center;
          width: 32px;
          height: 32px;
}
.social a i {
        position: relative;
        transform: translate(-5%, 55%)
}
.navigation a i {
  color: #6f7180;
}
.navigation a:hover
 {
      color: white;
}

.navigation a:hover i {
     color: #149ddd;
}

@media (max-width: 600px) {
    .columnIndex {
        width: 100%;
        height: 100%;
    }
    .columnIndex img {
        align: center;
    }

    .columnIndex p {
        margin-left: 14%;
    }
    .columnIndex .social a {
        margin-left: 11%;
    }
    .column {
        width: 100%;
        height: 70%;
    }
    .column img {
        align: center;
    }

    .column p {
        margin-left: 14%;
    }
    .column .social a {
        margin-left: 11%;
    }
    .front {
       display: none;
    }

}
/* Styling for about.html */
/*.abt {
        background-color: #f5f8fd;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 300px;
        top: -8px;
        bottom: -5px;
        right: -10px;
        height: auto;
        width: 80%;
        height: 110%;
        background-size: cover;
}*/

.abt h2 {
        color: #173b6c;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 100px;
        margin-left: 325px;
}
.abt p {
        font-size: 15px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-left: 325px;
        color: slatedarkgray;
        text-align: justify;
        margin-right: 25px;
}
.abt .moreabt p {
        font-size: 15px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-left: 325px;
        color: slatedarkgray;
        text-align: justify;
        margin-right: 25px;
}
.abt .moreabt a,
.abt .moreabt a:visited {
        font-size: 15px;
        margin-right: 10px;
        margin-left: 325px;
        top: 500px;
        color: #173b6c;
        font-family: "Arial", sans-serif;
}
/*Education section*/
.abt img {
        margin-left: 305px;
        width: 10%;
        height: auto;
}
.abt .edu h3 {
        font-size: 18px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-top: -110px;
        margin-left: 450px;
        color: slatedarkgray;
        font-style: normal;
}
.abt .edu p {
        font-size: 15px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-left: 450px;
        color: slatedarkgray;
        line-height:15px;
        font-weight: 100px;
        font-style: normal;
}


/*Styling for Work.html*/
.exp h2 {
        color: #173b6c;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 100px;
        margin-left: 300px;
}
.exp img {
        margin-left: 300px;
        width: 10%;
        height: auto;
}
.exp h3 {
        font-size: 18px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-top: -110px;
        margin-left: 450px;
        color: slatedarkgray;
        font-style: normal;
}
.exp p {
        font-size: 15px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-left: 450px;
        color: slatedarkgray;
        line-height:20px;
        font-weight: 100px;
        font-style: normal;
        text-align: justify;
        margin-right: 25px;
}
@media (max-width: 600px) {
     .exp h2,
     .exp img {
        margin-left: 8%;
        margin-right: 8%;
    }
    .exp h3 {
       margin-top: -40px;
       margin-left: 23%;
       margin-right: 8%;
    }
    .exp p {
        margin-left: 23%;
        margin-right: 8%;
    }
}
/* Styling for project.html */

.project h2 {
        color: #173b6c;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 100px;
        margin-left: 310px;
        margin-top: 20px;
}
.project h3 {
        font-size: 18px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-top: -110px;
        margin-left: 310px;
        color: slatedarkgray;
        font-style: normal;
        margin-top: 15px;
}
.project p {
        font-size: 15px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-left: 310px;
        color: slatedarkgray;
        line-height:20px;
        font-weight: 100px;
        font-style: normal;
        text-align: justify;
        margin-right: 25px;
        text-indent:50px;
}
.project p a {
        font-size: 15px;
        font-family: "Arial", sans-serif;
        font-weight: 100px;
        margin-left: -20px;
        color: #173b6c;
        line-height:20px;
        font-weight: 100px;
        font-style: normal;
        margin-right: 25px;
}
@media (max-width: 600px) {
     .abt, .exp, .project {
        height:100%;
        margin-top: 150%;
        overflow: auto;
        margin-right: -10px;
    }
    .abt img {
        width: 15%;
        height: auto;
        margin-left: 8%;
    }
    .abt .edu h3 {
        margin-top: -15%;
        margin-left: 25%;
    }
     .abt h2, .abt p, .abt .moreabt h2, .abt .moreabt p, .abt .moreabt a {
        margin-left: 8%;
    }
    
}
@media (max-width: 600px) {
.project p, .project h3, .project h2 {
        margin-right: 8%;
        margin-left: 8%;
    }
}
